{% extends "base_template.html.twig" %}

{% block title %}Nouveau Signalement{% endblock %}



{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Créer un nouveau signalement</h1>
            <a href="index.php?controleur=signalement&methode=lister"><- Retour</a>
            <hr>
        </div>

        <div class="col-9">
            <form action="index.php?controleur=signalement&methode=traiterFormulaireInsertion" method="post">
                
                <div style="margin-bottom: 15px;">
                    <label for="contenu">Votre raison :</label><br>
                    <textarea name="contenu" id="contenu" rows="5" style="width: 100%;" required></textarea>
                </div>

                <input type="hidden" name="id_post" value="1">

                <button type="submit">Soumettre</button>
            </form>
        </div>
    </div>
{% endblock %}