<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../node_modules/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    {% if googleAnalyticsId is defined and googleAnalyticsId %}
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ googleAnalyticsId }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);} 
            gtag('js', new Date());
            gtag('config', '{{ googleAnalyticsId }}');
        </script>
    {% endif %}
</head>
<body>

<header>
    {% block header %}{% endblock %}
</header>

<main class="mb-5 pb-5">
    {% block content %}{% endblock %}
</main>

<footer class="bottom-nav fixed-bottom bg-dark py-2">
    <nav class="d-flex justify-content-around align-items-center">
        <a href="index.php?controleur=groupe&methode=lister"><img src="../public/assets/icons/person_3_blanc.svg" style="width: 28px; height: 28px;" alt="Groupes"></a>
        <a href="index.php?controleur=utilisateur&methode=afficherProfil"><img src="../public/assets/icons/person_blanc.svg" style="width: 28px; height: 28px;" alt="Profil"></a>
        <a href="index.php?controleur=accueil&methode=afficher"><img src="../public/assets/icons/logo_yujo.png" style="width: 35px; height: 35px;" alt="Accueil"></a>
        <a href="index.php?controleur=boutique&methode=afficher"><img src="../public/assets/icons/shop_blanc.svg" style="width: 28px; height: 28px;" alt="Boutique"></a>
        <a href="index.php?controleur=parametre&methode=afficherParametre"><img src="../public/assets/icons/settings_blanc.svg" style="width: 28px; height: 28px;" alt="Paramètres"></a>
    </nav>
</footer>

<script src="../../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../../node_modules/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
{% block scripts %}{% endblock %}

</body>
</html>
