{% extends "base_template.html.twig" %}

{% block title %}Inscription - Yujo{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-8">
        <div class="card p-4">
            <h2 class="text-center mb-4">Rejoindre Yujo</h2>
            
            <form action="index.php?controleur=utilisateur&methode=traiterInscription" method="post">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Nom</label>
                        <input type="text" name="nom" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Prénom</label>
                        <input type="text" name="prenom" class="form-control" required>
                    </div>
                </div>

                <div class="mb-3">
                    <label>Pseudo</label>
                    <input type="text" name="pseudo" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label>Mot de passe</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label>Date de naissance</label>
                        <input type="date" name="date_naissance" class="form-control" required>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label>Genre</label>
                        <select name="genre" class="form-control">
                            <option value="Autre">Autre</option>
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                        </select>
                    </div>
                </div>

                <button type="submit" class="btn btn-success w-100 mt-3">S'inscrire</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}