{% extends "base_template.html.twig" %}

{% block title %}Liste des signalements{% endblock %}


{% block content %}
<h1>Liste des signalements</h1>
<a href="index.php?controleur=signalement&methode=afficherFormulaireInsertion">+ Nouveau signalement</a>
<hr>

{% if signalements is empty %}
    <p>Aucun signalement pour le moment.</p>
{% else %}
    <ul>
    {% for signalement in signalements %}
                <div class="signalement-item" style="margin-bottom: 20px; border-bottom: 1px solid #ccc; padding-bottom: 10px;">
                    <h3>
                        <a href="index.php?controleur=signalement&methode=afficher&id={{ signalement.id }}">
                            Signalement #{{ signalement.id }}
                        </a> 
                    </h3>
                    <p>Raison : {{ signalement.raison }}</p>
                
                </div>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
